* {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgb(19, 18, 18);
    box-sizing: border-box;
}

nav {
    margin-bottom: 30px;
    text-align: center;

}

article {
    color: #023671;
}

h2 {
    color: rgb(132, 47, 212);
    text-align: center;
    font-size: 40px;
}

.video-container {
    text-align: center;
}

.button {
    border: 2px solid red;
    background-color: rgb(224, 153, 153);
    padding: 5px;
    border-radius: 5px;
    text-decoration-style: none;
    font-weight: 800;
    transition: all 2s;
}

#fondo {
    height: 100%;
    background-color: #FFDA9D;
    background-image: url('fondo2.jpg'); 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    font-weight: bold; 
}
/*comienzo estilos de contacto*/

.fondoContacto {
    height: 100%;
    background-color: #FFDA9D;
    background-image: url('contacto.jpg'); 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input {
    width: 100px; height: 100px;
    transition: all 2s;
}
input:focus { 
    width: 200px;
    font-size: 24px;
}
/*comienzo estilos de nosotros*/

.FondoNosotros { 
    height: 100%;
    background-image: linear-gradient(to right top, #efcf3b, #ebc430, #e8b924, #e4ae17, #e0a306);

} 
img {
    width: 100vh;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header'
        'nav nav nav'
        ' main main main'
        'footer footer footer';
    column-gap: 20px;
    row-gap: 20px;

}
.grid-header {
    grid-area: header;
}
.grid-nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: 100%;
}
.grid-main {
    grid-area: main; 
}
.grid-footer {
    grid-area: footer;
}
.button-padding {
    margin-top: 10px;
}

.imagen-prod {
    width: 100%;
}

.product-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;

}
/*comienzo estilos promos*/

.fondoPromos {
    height: 100%;
    background-color: #FFDA9D;
    background-image: url('FONDOPROMOS.jpg'); 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media only screen and (max-width: 500px) {
    .grid-container {
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer';
    }
    .product-container {
        grid-template-columns: auto;
    }
}